  /* Applica il font Roboto a tutto il corpo della pagina */
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    transition: margin-left 0.3s ease-in-out;
  }

  input,
  button {
    font-family: 'Roboto', sans-serif;
  }

  h3 {
    font-family: 'Roboto', sans-serif;
    /* Titolo in grassetto */
    font-weight: 700;
  }

  .form-container {
    display: flex;
    align-items: center;
  }

  input {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
  }

  #eye-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  /** ERRORE ANNO MESE NELLA GENERAZIONE TIMESHEET **/
  #monthError,
  #yearError,
  #loginError {
    color: red;
    font-size: 15px;
    padding: 2px;
    display: none;
  }

  /* Area utente (START)*/
  #user-menu {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .user-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .dropdown-menu {
    background-color: white;
    border: 1px solid rgba(143, 138, 138, 0.5);
    width: 250px;
    border-radius: 5%;
  }

  .dropdown-menu .dropdown-item {
    color: black;
  }

  .dropdown-menu .dropdown-item:hover {
    background-color: #f0f0f0;
  }

  .user-info .user-img-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-info img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-info .user-name {
    margin-left: 10px;
    color: black;
    margin-right: 10px;
  }

  .dropdown-divider {
    border-top: 1px solid black;
    margin: 10px auto;
    width: 90%;
  }

  /* Area utente (END)*/