/* Tabella di generazione del timesheet (START) */
#tableContainer table {
    width: 100%;
    border-collapse: collapse;
    background-color: black;
    border: 1px solid black;
}

#tableContainer table th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 15px;
    text-align: left;
}

#tableContainer table td {
    padding: 10px 15px;
}

/* Rende più visibile l'intestazione */
#tableContainer table th,
#tableContainer table td {
    text-align: center;
}

/* Stile per la riga dell'intestazione */
#tableContainer table th {
    padding: 12px 15px;
}

/* Stile specifico per ogni colonna */
#tableContainer table .giorno {
    width: 180px;
}

#tableContainer table .orario-entrata {
    width: 150px;
}

#tableContainer table .orario-uscita {
    width: 100px;
}

#tableContainer table .note {
    width: 500px;
}

#tableContainer table .stato {
    width: 200px;
}


.scrollable-table {
    max-height: 1100px;
    overflow-y: scroll;
    margin-top: 4px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 100px;
}

.note-input {
    width: 100%;
    /* Allargato input per note */
    padding: 5px;
    font-size: 15px;
}

select {
    padding: 5px;
    font-size: 12px;
    width: 100px;
}

.status-select {
    width: 100%;
}

/* Legenda per la visualizzazione dei colori (START) */
/* Legenda */
#tableContainer .legend {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    /* Ridotto la dimensione del font nella legenda */
}

#tableContainer .legend-item {
    padding: 4px 6px;
    /* Ridotto padding */
    margin: 4px;
    border-radius: 4px;
    font-size: 13px;
    /* Ridotto la dimensione del font */
}

#tableContainer .legend-item.normal-hours {
    background-color: #d4edda;
}

#tableContainer .legend-item.overtime-hours {
    background-color: #007bff;
    color: white;
}

#tableContainer .legend-item.permission-hours {
    background-color: #f0c22b;
}

#tableContainer .legend-item.anomalous-hours {
    background-color: #ff0318;
    color: white;
}

.save-timesheet-btn {
    display: block;
    /* Per trattare come un blocco */
    margin: 20px auto;
    /* Centra orizzontalmente */
    width: 200px;
    /* Puoi anche specificare una larghezza se desideri */
}

#saveTimesheet {
    margin-bottom: 50px;
}

/* Modifica Tabella di visualizzazione dei timesheet*/
#datatableTimesheet {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

#datatableTimesheet td {
    padding: 20px;
    font-size: 17px;
}

#actionsShowTimesheet {
    vertical-align: middle;
    text-align: center;
}

#iconsActionsShowTimesheet {
    font-size: 18px;
    color: #333;
}