/* Tabella di generazione del timesheet (START) */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: black;
    border: 1px solid black;
}

table th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 15px;
    text-align: left;
}

table td {
    padding: 10px 15px;
}

/* Rende più visibile l'intestazione */
table th,
table td {
    text-align: center;
}

.scrollable-table {
    max-height: 900px;
    overflow-y: scroll;
    margin-top: 4px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 100px;
}

.note-input {
    width: 100%;
    /* Allargato input per note */
    padding: 5px;
    font-size: 15px;
}

select {
    padding: 5px;
    font-size: 12px;
    width: 100px;
}

.status-select {
    width: 100%;
}

/* Legenda per la visualizzazione dei colori (START) */
/* Legenda */
#tableContainer .legend {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    /* Ridotto la dimensione del font nella legenda */
}

#tableContainer .legend-item {
    padding: 4px 6px;
    /* Ridotto padding */
    margin: 4px;
    border-radius: 4px;
    font-size: 13px;
    /* Ridotto la dimensione del font */
}

#tableContainer .legend-item.normal-hours {
    background-color: #d4edda;
}

#tableContainer .legend-item.overtime-hours {
    background-color: #007bff;
    color: white;
}

#tableContainer .legend-item.permission-hours {
    background-color: #fff3cd;
}

#tableContainer .legend-item.anomalous-hours {
    background-color: #f8d7da;
    color: white;
}

#saveTimesheet {
    margin-bottom: 20px;
}

/* Modifica Tabella di visualizzazione dei timesheet*/
#datatableTimesheet {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#datatableTimesheet td {
    padding: 20px;
    font-size: 17px;
}

#actionsShowTimesheet {
    vertical-align: middle;
    text-align: center;
}

#iconsActionsShowTimesheet {
    font-size: 18px;
    color: #333;
}