#previewImage {
    max-width: 120px;
    max-height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
    margin-bottom: 1rem;
}

#userAreaContainer {
    display: none;
    margin-top: 10px;
    margin: auto;
    /* Adatta questo valore alla larghezza del tuo menu */
    z-index: 1;
    position: relative;
}